/* General Styles */
body {
  font-family: "Luckiest Guy", cursive;
  font-family: "Domine", serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}


.navbar-custom {
  background-color: #8B4513;
  padding: 15px;
}

.nav-link {
  margin-right: 15px;
  color: #ffffff;
  font-size: 1.1rem;

}

.button-book {
  background-color: #ffffff;
  color: #8B4513;
  border-radius: 5%;
}



.navbar-toggler {
  border: none;
  outline: none;
  
}

/* Hamburger Icon Lines */
.toggler-icon {
  display: block;
  width: 27px;
  height: 3.5px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 2px;
  
}

/* Animation to "X" on open */
.navbar-toggler.collapsed .toggler-icon:nth-child(1) {
  transform: rotate(0deg) translate(0, 0);
  border: none;
  outline: none;
}

.navbar-toggler:not(.collapsed) .toggler-icon:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  border: none;
  outline: none;
}

.navbar-toggler:not(.collapsed) .toggler-icon:nth-child(2) {
  opacity: 0;
  border: none;
  outline: none;
}

.navbar-toggler:not(.collapsed) .toggler-icon:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  border: none;
  outline: none;
}

/* Remove outline on the navbar-toggler button */
.navbar-toggler:focus {
  outline: none;
  box-shadow: none; /* Removes any additional focus shadow */
}


.hero-section {
  height: 86vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.hero-section h1,
.hero-section p {
  opacity: 0;
  /* Initially hidden */
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.hero-section h1 {
  font-size: 4rem;
  transform: translateY(-20px);
  /* Slightly up */
  font-family: "Luckiest Guy", cursive;

}

.hero-section p {
  font-size: 1.5rem;
  transform: translateY(20px);
  /* Slightly down */
  
  font-weight: 250;
}

/* Animation Active Class */
.carousel-item.active .animate-text {
  opacity: 1;
  /* Fade in */
  transform: translateY(0);
  /* Reset position */
}

.carousel-item.active h1 {
  animation: slideDown 1s ease-out;
}

.carousel-item.active p {
  animation: slideUp 1s ease-out;
}

/* Keyframes for Animations */
@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.animated {
  animation: moveUpDown 2s infinite ease-in-out;
}



/* Responsive Design */
@media (max-width: 768px) {

  .nav-link {
    margin-left: 18px;
  }

  .hero-section {
    height: 43vh;
  }


  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .button-book {
    width: 100px;
    padding: 5px;
  }


}




/* Hero Section */

/* Hero Title */
.fit-title {
  font-weight: bold;
  color: #8B4513;
}

/* Hero Description */
.fit-description {
  font-size: 18px;
  color: #8B4513;
}

/* Logos Section */
.fit-logo-section {
  margin-bottom: 10px;
}

.fit-logo-col {
  margin: 0;
  padding: 0;
}

.fit-logo {
  width: 80%;
  height: auto;
  
}

/* Button Styling */
.fit-read-more-btn {
  border-color: #8B4513;
  color: #8B4513;
}

.fit-read-more-btn:hover {
  background-color: #8B4513;
  color: #fff;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}








.section-title {
  color: #8B4513;
  
}

.why-travel-section .travel-card {
  text-align: center;
  padding: 20px;
}

.why-travel-section .travel-card h5 {
  font-size: 1rem;
  font-weight: 500;
  color: #8B4513;
  
}

.why-travel-section .icon {
  font-size: 3rem;
  color :#8B4513 ;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 1.5rem;
  }

  .why-travel-section .travel-card h5 {
    font-size: 0.875rem;
  }

  .why-travel-section .icon {
    font-size: 2rem;
  }
}


.upcoming-section {
  padding: 0px 20px;
}

.trip-card img {
  object-fit: cover;
  height: 100%;
}

/* Animation when hovering or touching the image */

/* Zoom effect for the trip image */
.trip-image-container {
  overflow: hidden; /* Ensures the image does not overflow outside the container */
}

.trip-image {
  transition: transform 0.3s ease; /* Smooth transition for zoom */
  
}

.trip-image-container:hover .trip-image,
.trip-image-container:active .trip-image {
  transform: scale(1.1); /* Slight zoom effect */
}


.trip-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #8B4513;
}

.trip-card h5 {
  color: #fff;
}

.trip-card p {
  color: #fff;
}


.card-title {
  font-size: 1.5rem;
  color: #fafafa;

  
}

.explore-button {
  background-color: #fff;
  color: #8B4513;
}

.explore-button:hover {
  color: #fff;
}

.trip-container {
  margin-top: 50px;
  
}



/* Umrah Banner Section */
.umrah-banner {
  padding: 15px;
  max-width: auto; /* Set a maximum width for the banner */
  margin: 80px;
}

.banner-container {
  max-width: 100%;
}

/* Text Content Styling */
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #411f07;
  margin-bottom: 5px;
}

.banner-subtitle {
  font-size: 1.8rem;
  color: #411f07;
  margin-bottom: 10px;
}

.price-info {
  background-color: #8B4513;
  padding: 8px 12px;
  border-radius: 4px;
  color: #ffffff;
}

.price-label {
  font-size: 1rem;
  margin: 0;
}

.price-amount {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 5px;
}

/* Image Content Styling */
.banner-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image img {
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .banner-row {
      flex-direction: column;
  }
  .banner-text, .banner-image {
      flex: 100%; /* Make both sections take full width on small screens */
  }
  .banner-title {
      font-size: 2rem;
  }
  .banner-subtitle {
      font-size: 1.1rem;
  }
  .price-amount {
      font-size: 1.4rem;
  }
  .umrah-banner {
    margin: 18px;
  }
}

.about-us-section {
  padding: 0px 20px;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #8B4513;
  /* Same as the image's font color */
}

.section-description {
  font-size: 1.1rem;
  color: #8B4513;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

.compass-img {
  max-width: 100%;
  height: auto;
}

.btn-outline {
  color: #8B4513;
  border-color: #8B4513;
}

.btn-outline:hover {
  background-color: #8B4513;
  color: #fff;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .compass-img {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .section-description {
    font-size: 1rem;
  }
}


.destinations-section {
  padding: 0px 30px;
}

.section-title {
  color: #8B4513;
  /* Dark brown color */
  font-size: 3rem;
}

.destination-image {
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.position-relative {
  position: relative;
}

.image-title {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 0 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  z-index: 10;
}

.destination-image:hover {
  transform: scale(1.05);
  /* Zoom effect on hover */
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }

  .image-title {
    font-size: 1.2rem;
  }
}







.testimonial-section {
  text-align: center;
  padding: 60px 20px;
}

.testimonial-header {
  margin-bottom: 40px;
}

.testimonial-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  background-color: #8B4513;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.testimonial-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial-card .card-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.testimonial-card .card-text {
  font-size: 14px;
  color: #fff;
}






/*About Page */

.about-us-page {
  padding: 0px 30px;
}

.about-us p {
  font-size: 1.24rem;
  color: #8B4513;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #8B4513;
  /* Deep brownish color for title */
}

.subheading {
  font-size: 3rem;
  font-weight: 600;
  color: #8B4513;
  /* Another brownish color for subheadings */
}

.value-title {
  font-size: 1.5rem;
  font-weight: bold;
  color :#8B4513 ;
}



.btn-hover {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-hover:hover {
  background-color: #8B4513;
  transform: translateY(-5px);
}

/* Images styling */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Responsive Design */
@media (max-width: 767px) {
  .section-title {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1.5rem;
  }

  .value-title {
    font-size: 1.3rem;
  }
}


/*Packages Page */

/* General Styles */


.packages-section {
  background-color: #fff;
  padding: 0px 25px;
}

.packages-section h5 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  
}


/* Card Customization */
.card {
  border: none;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
  background-color: #8B4513;
  
}

.package-card {
  margin-bottom: 40px;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 250px;
  object-fit: cover;
}



.card-title {
  font-size: 1.5rem;
  color: #ffffff;
}

.card-text {
  color: #ffffff;
  font-size: 1.2rem;
}

/* Button Styling */
.btn {
  margin-right: 10px;
}

.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
  color: #8B4513;
  
}

.btn-primary:hover {
  background-color: #8B4513;
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-primary {
  color: #ffffff;
  border-color: #ffffff;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-outline-primary:hover {
  background-color: #ffffff;
  color: #8B4513;
  border-color: #8B4513;
}

/* AOS Customization */
[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos].aos-animate {
  opacity: 1;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  .card-img-top {
    height: 200px;
  }
}


/* Gallery Page */


.header-section {
  background: linear-gradient(to bottom, #8B4513, #ffffff);
}

.header-section h1 {
  color: #411f07;
}

.btn-dark {
  background-color: #8B4513;
  border-color: #8B4513;
  
}

.btn-dark:hover {
    background: none;
    border-color: #8B4513;
    color: #8B4513;
    
}

.gallery-section {
  padding: 0px 25px;
}

.gallery-section img {
  height: 100%;
  object-fit: cover;
}

.cta-section {
  background-image: url('turkey.jpg');
  background-size: cover;
  background-position: center;
  color:#ffffff ;
}

@media (max-width: 768px) {
  .header-section h1 {
      font-size: 2rem;
  }

  .gallery-section img {
      height: auto;
  }
}


/* Details Page */

.deatails-section {
  padding: 0px 25px;
}

.gallery-image {
  border-radius: 3px;
  overflow: hidden;
  
}
.explore-section h2 {
  font-weight: bold;
  margin-top: 20px;
  font-size: 45px;
}
.explore-section p {
  font-size: 20px;
  line-height: 1.7;
}
.booking-form {
  background: linear-gradient(to bottom right, #8B4513, #000000);
  padding: 60px;
  border-radius: 10px;
  color: #fff;
  
}
.booking-form h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.booking-form .form-label {
  color: #ffffff;
}

.btn-success {
  background-color: #8B4513;
  border-color: #fff;
}

.btn-success:hover{
  background-color: #000000;
  border: #fff;
}

.accordion-button::after {
  font-size: 1rem;
  
}

.feature-list h3 {
  font-size: 40px;
}

.feature-list {
  margin-top: 20px;
}
.feature-list ul {
  padding-left: 15px;
  color: #000000;
}
.feature-list ul li {
  margin-bottom: 10px;
  font-size: 16px;
  font-size: 20px;
}

.itinerary-section {
  padding-bottom: 80px;
  padding: 60px;
  padding-top: 0%;
}

.itinerary-section h3 {
  font-size: 40px;
}

@media (max-width: 768px) {
  .itinerary-section {
    padding: 10px;
  }
  .booking-form {
    padding: 20px;

  }
  
}



 /* Contact Us Page */


 .contact-section {
  background-color: #ffffff;
  padding: 50px 20px;
  font-size: 1.2rem;
  
}

.contact-section form input,form textarea {
  border-color: #4a3607;
}

.contact-header {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  color: #8B4513;
}
.contact-subheader {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
  color: #8B4513;
}
.whatsapp-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #25D366;
  color: #fff;
  padding: 10px;
  border-radius: 10%;
  font-size: 34px;
  z-index: 1000;
}
.submit-button {
  background-color: #8B4513;
  border: solid #4a3607;
  color: #fff;
  border: none;
}
.contact-info {
  text-align: center;
  margin-top: 30px;
  color: #fafafa;
}
.contact-info p {
  margin: 0;
}


.form-label {
  color: #8B4513;
}
.form-control {
  border-color: #8B4513;
}

/* Custom CSS for Address, Location, and Contact Number */
.contact-info {
text-align: center;
margin-top: 50px;
padding: 20px;
background-color: #8B4513;
border-radius: 8px;
color: #ffffff;
}

.contact-info h4 {
font-size: 1.8rem;
font-weight: 600;
margin-bottom: 15px;
color: #ffffff;
}

.contact-info p, .contact-info a {
font-size: 1.2rem;
color: #ffffff;
margin: 5px 0;
}

.contact-info a {
color: #ffffff;
text-decoration: none;
}

.contact-info a:hover {
color: #ffffff;
text-decoration: underline;
}

.contact-info i {
color: #ffffff;
margin-right: 10px;
}



/* Footer */


.footer {
  background-color: #8B4513;
  padding-top: 80px;
  color: #fff;
  justify-content: center;
  
}

.footer-container {
  padding-left: 100px;
}

.footer .footer-logo img {
  max-width: 180px;
  margin-bottom: 20px;
}

.footer h6 {
  font-weight: bold;
  color: #fff;
  font-size: 1.2rem;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .social-icons i {
  font-size: 20px;
  margin-right: 15px;
  color: #fff;
  margin-bottom: 30px;
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #fff;
  margin-top: 30px;

}


@media (max-width: 768px) {
  .footer-container {
    padding-left: 0;
  }

}